.company-navbar {
    /* background-color: #21ce99; */
    display: flex;
    justify-content: space-between;
    height: 70px;
    margin-left: 5vw;
    align-items: center;
}

.company-navbar-right {
    display: inline-flex;
    margin-right: 5vw;
}

#something-button {
    margin-top: 50px;
    margin-left: 15vw;
    display: inline-flex;
    justify-content: space-between;
}

.company-chart {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.company-chart img {
    width: 50vw;
}

#quarter-button {
    margin-left: 5vw;
    width: 90vw;
    display: inline-flex;
    justify-content: space-between;
}

#quarter-button div {
    margin-left: 15%;
    margin-right: 15%;
}